include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    meta(name="keywords" content="")
    link(rel="stylesheet" type='text/css' href="static/css/styles.min.css")

    <!--[if lt IE 9]>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
    <![endif]-->
    style.
      .preloader {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(#5284f7), to(#2d63e0));
        background: -webkit-linear-gradient(#5284f7, #2d63e0);
        background: -o-linear-gradient(#5284f7, #2d63e0);
        background: linear-gradient(#5284f7, #2d63e0);
        z-index: 1000;
        overflow: hidden;
      }
      .preloader__img {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      .preloader__circle {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
        margin-left: -60px;
        margin-top: -60px;
      }
      .preloader__mask {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 60px;
        height: 120px;
        margin-left: -60px;
        margin-top: -60px;
        overflow: hidden;
        -webkit-transform-origin: 60px 60px;
        -moz-transform-origin: 60px 60px;
        -ms-transform-origin: 60px 60px;
        -o-transform-origin: 60px 60px;
        transform-origin: 60px 60px;
        -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
        -webkit-animation: rotate 1.2s infinite linear;
        -moz-animation: rotate 1.2s infinite linear;
        -o-animation: rotate 1.2s infinite linear;
        animation: rotate 1.2s infinite linear;
      }
      .preloader__line {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
      }
      @-webkit-keyframes rotate{ 0% { -webkit-transform: rotate(0deg);} 100% { -webkit-transform: rotate(360deg);}}
      @-moz-keyframes rotate{ 0% { -moz-transform: rotate(0deg);} 100% { -moz-transform: rotate(360deg);}}
      @-o-keyframes rotate{ 0% { -o-transform: rotate(0deg);} 100% { -o-transform: rotate(360deg);}}
      @keyframes rotate{ 0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}}
  body(class=pageClass)
    include ../modules/preloader/preloader
    .wrapper
      include ../modules/header/header
      .content
        block content
      include ../modules/footer/footer
    script(src="static/js/libs.min.js")
    script(src="static/js/common.js")
    block script