section.info
  .container
    .info-list
      .info-list__item
        .info-list__img-wrap
          img(src="static/images/content/info-1.jpg", alt="")
        p.info-list__title Fly 4 distinct across multiple, beautiful islands!
      .info-list__item
        .info-list__img-wrap
          img(src="static/images/content/info-2.jpg", alt="")
        p.info-list__title Earn money to buy new aircraft and airports!
      .info-list__item
        .info-list__img-wrap
          img(src="static/images/content/info-3.jpg", alt="")
        p.info-list__title Pop balloons, snap pictures, and so much more!
      .info-list__item
        .info-list__img-wrap
          img(src="static/images/content/info-4.jpg", alt="")
        p.info-list__title The ultimate hobbyist aircraft game!

    .info__logos-wrap
      p.info__logos-label available now on:
      .info__logos
        img(src="static/images/content/logo-1.png", alt="")
        img(src="static/images/content/logo-2.png", alt="")
        img(src="static/images/content/logo-3.png", alt="")
        img(src="static/images/content/logo-4.png", alt="")
        img(src="static/images/content/logo-5.png", alt="")