section.screen
  .container
    .screen-tabs
      ul.screen-tabs__list
        li
          a(href="#screen-tabs__content-screens") Screens
        li
          a(href="#screen-tabs__content-video") Video

      .screen-tabs__content#screen-tabs__content-screens
        .com-list.row
          .col-md-4.com-list__item
            .com-list__img-wrap
              a(href="static/images/content/info-1.jpg", data-fancybox="screen")
                img(src="static/images/content/info-1.jpg", alt="")
            p.com-list__title Fly 4 distinct across multiple, beautiful islands!
          .col-md-4.com-list__item
            .com-list__img-wrap
              a(href="static/images/content/info-2.jpg", data-fancybox="screen")
                img(src="static/images/content/info-2.jpg", alt="")
            p.com-list__title Earn money to buy new aircraft and airports!
          .col-md-4.com-list__item
            .com-list__img-wrap
              a(href="static/images/content/info-3.jpg", data-fancybox="screen")
                img(src="static/images/content/info-4.jpg", alt="")
            p.com-list__title The ultimate hobbyist aircraft game!
          .col-md-4.com-list__item
            .com-list__img-wrap
              a(href="static/images/content/info-1.jpg", data-fancybox="screen")
                img(src="static/images/content/info-1.jpg", alt="")
            p.com-list__title Fly 4 distinct across multiple, beautiful islands!
          .col-md-4.com-list__item
            .com-list__img-wrap
              a(href="static/images/content/info-2.jpg", data-fancybox="screen")
                img(src="static/images/content/info-2.jpg", alt="")
            p.com-list__title Earn money to buy new aircraft and airports!
          .col-md-4.com-list__item
            .com-list__img-wrap
              a(href="static/images/content/info-3.jpg", data-fancybox="screen")
                img(src="static/images/content/info-4.jpg", alt="")
            p.com-list__title The ultimate hobbyist aircraft game!
          .col-md-4.com-list__item
            .com-list__img-wrap
              a(href="static/images/content/info-1.jpg", data-fancybox="screen")
                img(src="static/images/content/info-1.jpg", alt="")
            p.com-list__title Fly 4 distinct across multiple, beautiful islands!
          .col-md-4.com-list__item
            .com-list__img-wrap
              a(href="static/images/content/info-2.jpg", data-fancybox="screen")
                img(src="static/images/content/info-2.jpg", alt="")
            p.com-list__title Earn money to buy new aircraft and airports!
          .col-md-4.com-list__item
            .com-list__img-wrap
              a(href="static/images/content/info-3.jpg", data-fancybox="screen")
                img(src="static/images/content/info-4.jpg", alt="")
            p.com-list__title The ultimate hobbyist aircraft game!
          .col-md-4.com-list__item
            .com-list__img-wrap
              a(href="static/images/content/info-1.jpg", data-fancybox="screen")
                img(src="static/images/content/info-1.jpg", alt="")
            p.com-list__title Fly 4 distinct across multiple, beautiful islands!
          .col-md-4.com-list__item
            .com-list__img-wrap
              a(href="static/images/content/info-2.jpg", data-fancybox="screen")
                img(src="static/images/content/info-2.jpg", alt="")
            p.com-list__title Earn money to buy new aircraft and airports!
          .col-md-4.com-list__item
            .com-list__img-wrap
              a(href="static/images/content/info-3.jpg", data-fancybox="screen")
                img(src="static/images/content/info-3.jpg", alt="")
            p.com-list__title The ultimate hobbyist aircraft game!

        .screen-tabs__bottom
          a.btn.btn--trs(href="#").screen-tabs__more Show More

      .screen-tabs__content#screen-tabs__content-video
        