footer.footer
  .container
    .footer__logo
      a.logo
        img(src="static/images/general/logo.png", width="170", alt="")
      p.footer__logo-desc first open-world, <br>aerial-themed game
    .copyright &copy; ultrawings, 2019