footer.footer
  .container
    .footer__logo
      a.logo
        img(src="static/images/general/logo.png", width="170", alt="")
      p.footer__logo-desc first open-world, <br>aerial-themed game
    a.logo-dev(href="http://www.bitplanetgames.com/", target="_blank")
      img(src="static/images/general/bitplanet-logo.png", alt="")
    .copyright &copy; ultrawings, 2019