header.header
  .container
    a(href="./").logo.header__logo
      img(src="static/images/general/logo.png", width="170", alt="")
    nav.nav.header__nav
      ul.nav-list
        li.current-menu-item
          a(href="./") Home
        li
          a(href="info.html") Game Info
        li
          a(href="screen.html") Screens and Video
    button.nav-toggle
      span.nav-toggle__line