header.header
  .container
    a(href="./").logo.header__logo
      img(src="static/images/general/logo.png", width="170", alt="")
    nav.nav.header__nav
      ul.nav-list
        li
          a(href="#") Home
        li
          a(href="#") Game Info
        li
          a(href="#") Screens and Video
    button.nav-toggle
      span.nav-toggle__line